# Ignorar node_modules para evitar cópia durante o build
node_modules

# Pastas de build e cache
.next
out

# Arquivos de configuração locais e logs
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configurações específicas de editores/IDE
.DS_Store
.vscode
.idea

# Arquivos temporários do sistema operacional
*.swp
*.swp.*
*~
